:root {
    --primary-color: black;
    --primary-color-black: #bb171e;
    --secondary-color: #FFFFFF;
    --secondary-color-black: #bb171e;
    --background-color: #979797;
    --text-color: #95a3af;
    --text-color-light: rgba(92, 99, 105, 0.45);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Segoe UI', sans-serif;
}